.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.header-container {
  background-color: #87A96B;
  padding: 20px;
}
.header-title{
  font-size: 32px;
  margin: 0; 
}
.header-description {
  font-size: 20px; 
  color: white;
  margin: 0; 
  text-align: center;
}

.small-scale-farming-container {
  margin: 20px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.small-scale-farming-heading {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.small-scale-farming-text {
  color: #666;
  font-size: 16px;
  line-height: 1.5;
}

.small-scale-farming-list {
  margin-bottom: 15px;
}

.small-scale-farming-list li {
  margin-bottom: 8px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


